{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Subject</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add New Subject</h1>
    <form action="{{ url_for('add_subject') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br>
        <label type ="data" name="data"></label> 
        <input type="submit" value="Add Subject">
    </form>
</body>
</html>
{% endblock %}
